
.darkBGimg
{
    background-image: url("./images/wallMatrix.jfif");    
    color: white;
}
.whiteBGimg
{
    background-image: url("./images/photo-wood.jfif");
}
.colorWhiteTheme{
    color: black;
}
#plus{
    width: 25vw;
    margin: auto;
}
.titleWhite{
    border-bottom: solid white;
}
.titleBlack{
    border-bottom: solid 1px black;
}
.title{
    width: 80%;
    margin: auto;
    padding: 1vh;
    font-size: 3rem;
}
.sub-title{
    font-size: 1.3rem;
}
.textSize{
    font-size: 1rem;
}

.photoCV{
    width: 30vw;
    border-radius: 50%;
}
@media screen and (min-width: 740px)
{
    .photoCV{
        width: 20vw;
    }
}



.portfolio{
    background-color: #000000;
    background-image: linear-gradient(250deg, #2D3436 0%, #000000 26%, #2D3436 70%);
    color: white;
}
#hardSoftSkills{
    background-color: #000000;
    background-image: linear-gradient(250deg, #2D3436 0%, #000000 26%, #2D3436 70%);
    color: white;
}
.card{
    color: black;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.whiteTheme{
    background-color: #000000;
    background-image: linear-gradient(315deg ,#ffffff 0%, grey 26%, #ffffff 100%);
        color: black;
}