body, .navbar{
    width: 1024px;
    margin: auto;
}
.emilieDelsol{
    margin-top: 4em;
}
@media screen and (max-width: 740px)
{
    body, .navbar{
        width: auto;
    }
}
.darkBGimg
{
    background-image: url("./images/wallMatrix.jfif");    
    color: white;
}
.title{
    border-bottom: solid white;
    width: 80%;
    margin: auto;
    padding: 1vh;
    font-size: 5vh;
}
#plus{
    width: 25vw;
    margin: auto;
}
.textAbout{
    font-weight: 500;
}
.textAbout span{
    font-style: oblique;
    font-weight: 900;
}
.photoCV{
    width: 30vw;
    border-radius: 50%;
}

/*Font-sizes*/
.fa-toggle-on, .fa-toggle-off{
    font-size: 3vh;
}
.sub-title{
    font-size: 2.5vh;
}
.textSize{
    font-size: 2.3vh;
}
.textFooterSize{
    font-size: 3.5vh;
}
.navbarTextSize, .navbarTextSize a
{
    font-size: 1.9vh;
}

/*width*/
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-90{
    width: 90%;
}

@media screen and (min-width: 740px)
{
    .photoCV{
        width: 10vw;
    }
}

#hardSoftSkills ul{
    list-style: none;
}

.darkThemeBody .portfolio, .darkThemeBody #hardSoftSkills{
    background-color: #000000;
    background-image: linear-gradient(250deg, #2D3436 0%, #000000 26%, #2D3436 70%);
    color: white;
}

.darkThemeBody .card{
    color: black;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.whiteTheme{
    background-color: #000000;
    background-image: linear-gradient(315deg ,#ffffff 0%, grey 26%, #ffffff 100%);
        color: black;
}


/*WHITE THEME*/
.whiteBGimg
{
    background-image: url("./images/photo-wood.jfif");
}

.whiteThemeBody .title{
    border-bottom: solid black;
}
.whiteThemeBody footer a{
    color: black;
}
.whiteThemeBody .portfolio, .whiteThemeBody #hardSoftSkills{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 26%, #ffffff 100%);
}
